@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap%22");

:root {
    --body-bg-color: #ffffff;
  --purple: #cedce0;
}

body {
    background-image: linear-gradient(rgb(249, 249, 249), rgb(0, 28, 70));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container .tree-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.tree-container .avatar {
  width: 213px;
  height: 213px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var();
  border-radius: 50%;
}


.tree-container .instagram-user {
  margin-top: 15px;
  color: var(--purple);
}

.tree-container .links-container {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
}

.links-container .link {
  margin-top: 16px;
  width: 325px;

  border: 2px solid var(--purple);
  border-radius: 4px;

  font-size: 16px;
  text-transform: uppercase;
  text-align: center;

  padding: 12px 0;

  transition: ease 0.3s;
}

.links-container .link:hover {
  background: var(--purple);
  color: var(--body-bg-color);

  transition: ease 0.5s;
}


.socials-container .social {
  transform: scale(0.9);

  transition: ease 0.2s;
}

.socials-container .social:hover {
  transform: scale(1);
}

